@font-face {
  font-family: 'SourceSans3';
  src: url('../../shared/assets/fonts/sourceSans3-regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SourceSans3';
  src: url('../../shared/assets/fonts/sourceSans3-semiBold.woff2')
    format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SourceSans3';
  src: url('../../shared/assets/fonts/sourceSans3-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
