body {
  box-sizing: border-box;
  font-family: var(--font-family-base);
  color: var(--color-neutral-800);
  background-color: var(--color-neutral-0);
  transition: background-color var(--transition-duration) ease;
}

a,
button,
label,
textarea,
input,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}

fieldset {
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}
