[data-theme='dark'] {
  --color-neutral-0: #141414;
  --color-neutral-100: #1c1c1c;
  --color-neutral-200: #262626;
  --color-neutral-300: #333333;
  --color-neutral-400: #6c6c6c;
  --color-neutral-500: #8c8c8c;
  --color-neutral-600: #bfbfbf;
  --color-neutral-700: #ececec;
  --color-neutral-800: #fbfbfb;
  --color-neutral-900: #ffffff;

  --color-primary-0: #300b0b;
  --color-primary-100: #461313;
  --color-primary-200: #760909;
  --color-primary-300: #a60c0c;
  --color-primary-400: #d51010;
  --color-primary-500: #f25959;

  --color-secondary-0: #261c3c;
  --color-secondary-100: #441a96;
  --color-secondary-200: #5500f8;
  --color-secondary-300: #803eff;
  --color-secondary-400: #9d6aff;
  --color-secondary-500: #b792ff;

  --shadow-lg: 0 0 16px 8px rgb(0 0 0 / 0.4);
  --shadow-base: 2px 2px 4px 0 rgb(0 0 0 / 0.5);
  --shadow-base-hover: 2px 8px 12px 0 rgb(0 0 0 / 0.8);
  --shadow-sm: 2px 2px 4px 0 rgb(0 0 0 / 0.3);
  --shadow-sm-hover: 2px 8px 12px 0 rgb(0 0 0 / 0.6);
}

[data-theme='light'] {
  --color-neutral-0: #ffffff;
  --color-neutral-100: #fbfbfb;
  --color-neutral-200: #f3f3f3;
  --color-neutral-300: #ececec;
  --color-neutral-400: #bfbfbf;
  --color-neutral-500: #8c8c8c;
  --color-neutral-600: #6c6c6c;
  --color-neutral-700: #393939;
  --color-neutral-800: #1c1c1c;
  --color-neutral-900: #141414;

  --color-primary-0: #fff4f4;
  --color-primary-100: #ffcece;
  --color-primary-200: #fca9a9;
  --color-primary-300: #f25959;
  --color-primary-400: #d51010;
  --color-primary-500: #a60c0c;
  --color-primary-600: #760909;

  --color-secondary-0: #f5f0ff;
  --color-secondary-100: #eadfff;
  --color-secondary-200: #d9c5ff;
  --color-secondary-300: #b792ff;
  --color-secondary-400: #742cff;
  --color-secondary-500: #581bcc;

  --shadow-lg: 0 0 12px 4px rgb(0 0 0 / 0.1);
  --shadow-base: 2px 2px 4px 0 rgb(0 0 0 / 0.2);
  --shadow-base-hover: 2px 8px 12px 0 rgb(0 0 0 / 0.25);
  --shadow-sm: 2px 2px 4px 0 rgb(0 0 0 / 0.1);
  --shadow-sm-hover: 2px 8px 12px 0 rgb(0 0 0 / 0.2);
}

:root {
  --color-primary-400-500: linear-gradient(180deg, #d51010 0%, #a60c0c 100%);

  --color-base-black: #000000;
  --color-base-white: #fff;
  --color-base-900: #141414;
  --color-base-800: #1c1c1c;
  --color-base-600: #6c6c6c;

  --font-family-base: 'Source Sans 3', system-ui, sans-serif;

  --header-height: 64px;
  --border-radius: 8px;

  --transition-duration: 0.2s;
  --transition-duration-longer: 0.4s;
}
