.statistic {
  min-height: 100%;
  display: flex;
  justify-content: center;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 25px;
  align-self: center;
  height: 100%;
  transition: var(--transition-duration);
}

.info {
  width: 352px;
  transition: color var(--transition-duration) ease;
}
