.main {
  width: 100%;
  height: calc(100vh - var(--header-height) - 56px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  color: var(--color-neutral-800);
  background-color: var(--color-neutral-0);
  transition: var(--transition-duration);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 100%;
  max-width: 1000px;
  padding: 24px 24px 0;
  background-color: var(--color-neutral-0);
  position: sticky;
  top: 0;
  transition: background-color var(--transition-duration) ease,
    color var(--transition-duration) ease;
  z-index: 1;
}
