.button {
  color: var(--color-base-white);
  font-weight: 600;
  border: none;
  border-radius: var(--border-radius);
  outline: 2px solid transparent;
  outline-offset: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  transition: var(--transition-duration);
  position: relative;
}

.buttonLoader {
  animation: spinner 0.7s linear infinite;
}

.loading {
  pointer-events: none;
  cursor: not-allowed;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
