.taskEditor {
  min-width: 400px;
  height: calc(100dvh - var(--header-height));
  background-color: var(--color-neutral-100);
  border-left: 1px solid var(--color-neutral-300);
  padding: 24px 24px 0;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  position: fixed;
  top: var(--header-height);
  right: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: transform var(--transition-duration-longer) ease-out,
    visibility var(--transition-duration-longer) ease-out,
    opacity var(--transition-duration-longer) ease-out,
    background-color var(--transition-duration) ease,
    border-color var(--transition-duration) ease;
}

.isOpen {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
}

.title {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 12px;
}

.formTask {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.priorityTitle {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.priority {
  flex-grow: 1;
  overflow-y: auto;
}

.inner {
  display: flex;
  align-items: center;
  column-gap: 16px;
  padding-top: 5px;
}

.actions {
  display: flex;
  column-gap: 8px;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  column-gap: 16px;
  padding-block: 16px;
}

.buttonCreate,
.buttonCancel {
  padding: 12px 16px;
  font-size: 18px;
  line-height: 24px;
}

.buttonCreate {
  background-color: var(--color-neutral-800);
  color: var(--color-neutral-0);
  box-shadow: var(--shadow-base);
}

.buttonCreate:hover {
  background-color: var(--color-neutral-700);
  box-shadow: var(--shadow-base-hover);
}

.buttonCreate:active {
  background-color: var(--color-neutral-600);
}

.buttonCreate:focus-visible {
  outline: 2px solid var(--color-neutral-900);
  border: 2px solid var(--color-neutral-0);
  background-color: var(--color-neutral-700);
  box-shadow: var(--shadow-base-hover);
}

.buttonCreate:disabled {
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(28, 28, 28, 0.5);
}

.buttonCancel {
  background-color: var(--color-neutral-200);
  color: var(--color-neutral-800);
  box-shadow: var(--shadow-sm);
}

.buttonCancel:hover {
  background-color: var(--color-neutral-300);
  box-shadow: var(--shadow-sm-hover);
}

.buttonCancel:active {
  background-color: var(--color-neutral-100);
}

.buttonCancel:focus-visible {
  outline: 2px solid var(--color-neutral-900);
  border: 2px solid var(--color-neutral-0);
  background-color: var(--color-neutral-300);
  box-shadow: var(--shadow-base-hover);
}

.buttonCancel:disabled {
  color: rgba(28, 28, 28, 0.5);
  background-color: rgba(243, 243, 243, 0.5);
}

.buttonCreate:disabled:hover {
  cursor: not-allowed;
  box-shadow: var(--shadow-base);
}

.buttonCancel:disabled:hover {
  cursor: not-allowed;
  box-shadow: var(--shadow-sm);
}
