.tasks {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.empty_task_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding-bottom: 22px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 16px;
}

.description {
  font-size: 18px;
  margin-bottom: 40px;
}

.title,
.description {
  transition: color var(--transition-duration) ease;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding-top: 16px;
}
