.tasks {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 24px 24px 0;
  background-color: var(--color-neutral-0);
  transition: background-color var(--transition-duration) ease;
}

.empty_task_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding-bottom: 22px;
}

.empty_task_content:has(.title, .description) {
  transition: color var(--transition-duration) ease;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 16px;
}

.description {
  font-size: 18px;
  margin-bottom: 40px;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-self: center;
  width: 100%;
  max-width: 948px;
}
